<div>
  <label>Filter selected
    <input
      type="checkbox"
      ng-model="filterSelection"/>
  </label>
</div>

<div ng-if="filterSelection">
  <div ng-repeat="(id, analysis) in plugin.currentAnalyses()">
    <div class="small-12 columns" lang-specific>
      <p
        <span token="id" click="true" hover="true"/>
      </p>
      <div ng-repeat="form in analysis.forms">
        <div ng-style="plugin.styleOf(form)">
          <span style="font-family: 'Courier'">{{ form.postag }}</span>
          <span style="margin-left: 4px">{{ form.lemma }}</span>
        </div>
      </div>
    <div delimiter/>
    </div>
  </div>
</div>

<div ng-if="!filterSelection">
  <div ng-repeat="(id, analysis) in plugin.analyses">
    <div class="small-12 columns" lang-specific>
      <p
        <span token="id" click="true" hover="true"/>
      </p>
      <div ng-repeat="form in analysis.forms">
        <div ng-style="plugin.styleOf(form)">
          <span style="font-family: 'Courier'">{{ form.postag }}</span>
          <span style="margin-left: 4px">{{ form.lemma }}</span>
        </div>
      </div>
    <div delimiter/>
  </div>
</div>
